In [89]:
import numpy as np
from plyfile import PlyData, PlyElement
import open3d as o3d
import copy
import matplotlib.pyplot as plt
import statistics
import math
from pathlib import Path
np.seterr(divide='ignore', invalid='ignore')
from open3d import io,visualization,registration,utility,geometry
import pandas as pd

read_point_cloud = io.read_point_cloud
read_triangle_mesh = io.read_triangle_mesh
write_point_cloud = io.write_point_cloud
registration_icp = registration.registration_icp
compute_fpfh_feature = registration.compute_fpfh_feature
TransformationEstimationPointToPlane = registration.TransformationEstimationPointToPlane
TransformationEstimationPointToPoint = registration.TransformationEstimationPointToPoint
Vector3dVector = utility.Vector3dVector
draw_geometries = visualization.draw_geometries
write_triangle_mesh = io.write_triangle_mesh
paint_uniform_color = geometry.PointCloud.paint_uniform_color
voxel_down_sample = geometry.PointCloud.voxel_down_sample
estimate_normals = geometry.PointCloud.estimate_normals
KDTreeSearchParamHybrid = geometry.KDTreeSearchParamHybrid
PointCloud = geometry.PointCloud

In [90]:
a=[653,657,663,665,673,674,676,677,685,694,695]
b = [673]

In [91]:
data = pd.read_csv("data_curv_c1.5_p20_694.csv")
#data = pd.read_csv("ex_curv_data1_new4.csv")
#data = pd.read_csv("data_curv_710_new.csv")

In [92]:
data = pd.DataFrame(data.iloc[:,1:])

In [93]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10
0,-8.592452,18.102797,-25.066021,-1.723585,-1.715147,-1.711271,-1.781630,-3.954127,0.075724,4.029850,1.0
1,-8.497990,19.663709,-24.955191,-1.404521,-1.420075,-1.421303,-1.643195,-3.850837,0.181767,4.032605,1.0
2,-8.589971,19.389795,-25.065925,-1.574927,-1.578611,-1.572501,-1.741098,-3.848176,0.181767,4.029943,1.0
3,-8.501527,17.828615,-24.955328,-1.624081,-1.627204,-1.617356,-1.760990,-4.032747,0.000000,4.032747,1.0
4,5.533935,33.256236,24.086715,0.097715,0.134814,0.136468,0.184958,-2.079135,0.223294,2.302428,1.0

In [94]:
cor = data.iloc[:,:3]

In [95]:
cor.head()

          0          1          2
0 -8.592452  18.102797 -25.066021
1 -8.497990  19.663709 -24.955191
2 -8.589971  19.389795 -25.065925
3 -8.501527  17.828615 -24.955328
4  5.533935  33.256236  24.086715

In [96]:
label = data.iloc[:,-1]
label.head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: 10, dtype: float64

In [97]:
cor = np.asarray(cor)
label = np.asarray(label)
len(label)

96742

In [98]:
nondefpts = []
defpts = []
for p in range(len(cor)):
    point = cor[p]
    lab = label[p]
    if lab == 0:
        nondefpts.append(point)
    if lab == 1:
        defpts.append(point)
len(defpts)

11598

In [99]:
nondefpcd = PointCloud()
nondefpcd.points = Vector3dVector(np.asarray(nondefpts))
defpcd = PointCloud()
defpcd.points = Vector3dVector(np.asarray(defpts))

nondefpcd.paint_uniform_color([0.8,0.8,0.8])
defpcd.paint_uniform_color([1,0,0])
draw_geometries([nondefpcd,defpcd])